<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default text-center">
      <div class="panel-body">

        <p>Check your inbox!</p><p>A verification email was sent to the address you provided.</p>

      </div>
    </div>
  </div>
</div>
