<ol class="breadcrumb">
  <li><%= link_to('Back to Passwords', passwords_path, :style => 'color:#000000;') %></li>
  <li class="active">Create a new password</li>
</ol>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default text-center">
      <div class="panel-body">

        <%= render partial: 'passwords/form', locals: {password: @password} %>

      </div>
    </div>
  </div>
</div>
