<p class="text-center">Micro Password Manager</p>


<p class="text-center">
  <%= link_to 'Manage Passwords', passwords_path, {class: "btn btn-default btn-lg", role: "button"} %>
</p>


<p class="text-center">
  &mu;PM is a Free, Web-Based Password Manager!
</p>


<p class="text-center">
  Look at the <%= link_to '&mu;PM source code on GitHub'.html_safe, 'https://github.com/datamolecule/mupm', :style => 'color:#000000;' %>, run your own server for personal use!
</p>
